<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cev.blablapub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.view.activitys.Comentarios_del_negocio"></activity>
        <activity android:name=".views.view.activitys.Chat_usuariosActivity" />
        <activity
            android:name=".views.view.activitys.LoginActivity"
            android:parentActivityName=".views.view.activitys.MainActivity" />
        <activity
            android:name=".views.view.activitys.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modelos.RecuperarCon"
            android:parentActivityName=".views.view.activitys.LoginActivity" />
        <activity
            android:name=".views.view.activitys.RegisterActivity"
            android:parentActivityName=".views.view.activitys.LoginActivity" />
        <activity android:name=".views.view.activitys.Home" />
        <activity
            android:name=".views.view.activitys.VistaDetalleBarActivity"
            android:parentActivityName=".views.view.activitys.Home" />
        <activity android:name=".ListActivityBares" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>